/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #46a964;
}
.about{
    display: block;
}
.stopwatch {
    text-align: center;
}

.display {
    font-size: 3em;
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

#laps {
    margin-top: 20px;
    text-align: left;
}
