/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:black;
}
.about{
    color:rgb(254, 254, 254);
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size:40px;
    font-style: normal;
}

.stopwatch {
    text-align: center;
}

.container{
    display:block;
    background-color: aquamarine;
    border-radius: 10px;
    margin:10px;
    padding:40px;
    
}

.display {
    font-size: 3em;
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

#laps {
    margin-top: 20px;
    text-align: left;
}
